//
//  Documentation.xcconfig
//  BMScriptTest
//
//  Created by Andre Berg on 24.09.09.
//  Copyright 2009 Berg Media. All rights reserved.
//
//  This file contains general settings that are used in various Run Script build phases.
//  May need to be changed by the developer from machine to machine.

// path to the doxygen utility
DOXYGEN_PATH=/Developer/Applications/Utilities/Third-Party/Doxygen.app/Contents/Resources/doxygen
// name of the config file
DOXYFILE=Doxyfile
// name of the generated docset
DOCSETFULLNAME=BMScript.docset