//
//  Version.xcconfig
//  BMScriptTest
//
//  Created by Andre Berg on 30.09.09.
//  Copyright 2009 Berg Media. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//  
//    http://www.apache.org/licenses/LICENSE-2.0
//  
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.

// This config file lists major versions and SVN revisions to be inbcluded
// by other config files and/or build phases

// The Ruby script sets the following settings:

// ENV['SVN_REVISION'] = `svn info | grep Revision | awk '{print $2}'`.chomp!
// ENV['BMSCRIPT_VERSION'] = "%.1f" % (ENV['SVN_REVISION'].to_i / 150.0)
// ENV['PROJECT_NUMBER'] = "#{ENV['BMSCRIPT_VERSION']} (#{ENV['SVN_REVISION']})"

// INTENTIONALLY LEFT BLANK 
// Reserved space
