//
//  Debug.xcconfig
//  BMScriptTest
//
//  Created by Andre Berg on 28.09.09.
//  Copyright 2009 Berg Media. All rights reserved.
//  
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//  
//    http://www.apache.org/licenses/LICENSE-2.0
//  
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.

// In this config file shall be put settings intended for all Debugging
// targets. It may then be included from the "based-on" dropdown of the 
// build settings dialog.

#include "Common.xcconfig"

// Source DebugEnvironment.sh? DebugEnvironment.sh sets a bunch of environment 
// variables which are useful for debugging, such as NSZombieEnabled, CFZombieLevel etc...
// This works in conjunction with a "Run Script" build phase and $BUILD_STYLE_NAME,
// which is pre-set by Xcode with the Configuration name - if the Configuration 
// does not contain the word "Debug" this setting will always expand to 0.
USE_DEBUG_ENVIRONMENT_SCRIPT = 0

// saves some build time
ONLY_ACTIVE_ARCH = YES

// Ahhh, how we love the static analyzer 
RUN_CLANG_STATIC_ANALYZER = YES

// Might be nice to have for better Shark et al. support
GENERATE_PROFILING_CODE = YES

WARNING_CFLAGS = $(inherited) -Winit-self -Wnonnull -Wformat=2 -Wsequence-point -Wstrict-aliasing -Wstrict-aliasing=2 -Wsign-compare -Wall -Wextra -Wdiv-by-zero -Wmissing-field-initializers -Wno-format-nonliteral -Wshorten-64-to-32

GCC_PREPROCESSOR_DEFINITIONS = DEBUG=1

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
