//
//  Documentation.xcconfig
//  BMScriptTest
//
//  Created by Andre Berg on 24.09.09.
//  Copyright 2009 Berg Media. All rights reserved.
//
//  Licensed under the Apache License, Version 2.0 (the "License");
//  you may not use this file except in compliance with the License.
//  You may obtain a copy of the License at
//  
//    http://www.apache.org/licenses/LICENSE-2.0
//  
//  Unless required by applicable law or agreed to in writing, software
//  distributed under the License is distributed on an "AS IS" BASIS,
//  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//  See the License for the specific language governing permissions and
//  limitations under the License.


// This config file is used mainly by a Ruby script phase which fills the 
// values set here into the Doxyfile, based on the DoxyfileTemplate.
// The ruby script parses the DoxyfileTemplate and replaces all $UPPERCASE_VARIABLES
// that look like just demonstrated with build settings environment variables
// including those in this config file. If you want to build the documentation
// on your own system, there's a very big chance that you will have to modify
// these settings to fit your own build environment.

// the path to the Documentation folder
DOCROOT=$(PROJECT_DIR)/Documentation

// various folders inside the Documentation folder
DOCRES=$(DOCROOT)/Resources
DOCSCRIPTS=$(DOCROOT)/Scripts
DOCINCLUDES=$(DOCROOT)/Includes
DOCEXAMPLES=$(DOCROOT)/Examples

// name of the generated docset
DOCSET_NAME=BMScript.docset

// feed name
DOCSET_FEEDNAME=BMScript

// docset bundle id
DOCSET_BUNDLE_ID=com.bergmedia.BMScript

// doxygen in dir
INPUT_DIRECTORY=$(PROJECT_DIR)/Source

// doxygen out dir
OUTPUT_DIRECTORY=$(DOCROOT)/$(DOCSET_NAME)

// path to the doxygen resources folder in its .app bundle
DOXYGEN15_RES_PATH=/Developer/Applications/Utilities/Third-Party/Doxygen 1.5.6.app/Contents/Resources
DOXYGEN16_RES_PATH=/Developer/Applications/Utilities/Third-Party/Doxygen 1.6.3.app/Contents/Resources
DOXYGEN17_RES_PATH=/Developer/Applications/Utilities/Third-Party/Doxygen 1.7.app/Contents/Resources

DOXYGEN_RES_PATH=$(DOXYGEN16_RES_PATH)

// path to the doxygen executable
DOXYGEN_PATH=$(DOXYGEN_RES_PATH)/doxygen

// name of the config file
DOXYFILE=Doxyfile

// doxyfile template - will be used to generate the real Doxyfile
// after filling in all the environment vars from here
DOXYFILE_TEMPLATE=DoxyfileTemplate

// css for docs
HTML_STYLESHEET=$(DOCRES)/CSS/doxygen_1.6.3.css

// path to Graphviz "dot" executable, default is "$DOXYGEN_RES_PATH/Contents/Resources"
// just comment this out below if you do not want to use a non-default dot binary
DOT_PATH=/usr/local/bin